<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>

</head>
<body>

<h3>Author</h3>

<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>age</th>
    </tr>
    <tr>
        <td th:text="${author.id}"></td>
        <td th:text="${author.name}"></td>
        <td th:text="${author.age}"></td>
    </tr>
</table>

<h3>Books</h3>

<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>author_name</th>
    </tr>
    <tr th:each="b:${author_books}">
        <td th:text="${b.id}"></td>
        <td th:text="${b.name}"></td>
        <td th:text="${b.author.name}"></td>
    </tr>
</table>


<h3>Update author</h3>
<form method="post" th:action="@{/authors/update/{id}(id=${author.id})}">
    <input th:value="${author.name}" type="text" name="name" placeholder="name" class="form-control" autofocus required>
    <input th:value="${author.age}" type="number" name="age" placeholder="age" class="form-control" autofocus required>
    <button type="submit">Update</button>
</form>

<br>
<a href="/authors">authors</a>
</body>
</html>