<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>

</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
    </tr>
    <tr>
        <td th:text="${book.id}"></td>
        <td th:text="${book.name}"></td>

    </tr>
</table>

<h3>Update book</h3>
<form method="post" th:action="@{/books/update/{id}(id=${book.id})}">
    <input type="text" name="name" placeholder="name" class="form-control" autofocus required>
    <button type="submit">Update</button>
</form>

<h3>Shops</h3>

<table>
    <tr>
        <th>book_price</th>
        <th>sh_name</th>
        <th>sh_city</th>
        <th>sh_country</th>
        <th>sh_account</th>
        <th>-</th>
        <th>aut_name</th>
        <th>aut_city</th>
        <th>aut_country</th>
    </tr>
    <tr th:each="s:${shops_by_book_id}">
        <td th:text="${s.price}+' $'"></td>
        <td th:text="${s.shop.name}"></td>
        <td th:text="${s.shop.city.name}"></td>
        <td th:text="${s.shop.city.country.name}"></td>
        <td th:text="${s.shop.account.amountMoney}+' $'"></td>
        <td>|</td>
        <td th:text="${s.book.author.name}"></td>
        <td th:text="${s.book.author.city.name}"></td>
        <td th:text="${s.book.author.city.country.name}"></td>
    </tr>
</table>

<a href="/books">books</a>

</body>
</html>