<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>

</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>author name</th>
        <th>delete</th>
    </tr>
    <tr th:each="book:${books}">
        <td><a th:text="${book.id}" th:href="@{/books/{id}(id=${book.id})}"></a></td>
        <td th:text="${book.name}"></td>
        <td><a th:text="${book.author.name}" th:href="@{/authors/{id}(id=${book.author.id})}"></a></td>
        <td><a th:href="@{/books/delete/{id}(id=${book.id})}">x</a></td>
    </tr>
</table>

<h3>Add book</h3>
<form method="post" action="/books">
    <input type="text" name="name" placeholder="name" class="form-control" autofocus required>
    <input type="number" name="author_id" placeholder="author_id" class="form-control" autofocus required>
    <button type="submit">Save</button>
</form>

<a href="/users">users</a>
<a href="/authors">authors</a>

</body>
</html>